services:

  server:
    build: 
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    container_name: apc-server
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure
  db:
    image: postgres:15
    container_name: apc-db
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d hackaton_db"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    container_name: apc-client
    depends_on:
      - server
    restart: on-failure
  telegram_bot:
    build:
      context: ./telegram_bot
      dockerfile: Dockerfile
    depends_on:
      - server
    restart: unless-stopped

volumes:
  postgres_data:
  